<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://clashanalyzer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1ec36331-5d68-4acf-b0d6-dff45050de48/resourceGroups/clashanalyzer/providers/Microsoft.Web/sites/clashanalyzer</ResourceId>
    <UserName>$clashanalyzer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://clashanalyzer.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>